<h1>Listing orders</h1>
<div class="fluid-container">
  <div class="row span9">
    <table class="table table-striped">
      <tr>
        <th>Quantity</th>
        <th>Item name</th>
        <th>Total cost</th>
        <th>Customer</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.quantity %></td>
        <td><%= order.item_name %></td>
        <td><%= order.total_cost %></td>
        <th><%= link_to order.customer_name, order.customer %>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  </div>
  <br />
  <div class="row span9">
    <%= link_to 'New Order', new_order_path %>
  </div>
</div>
